.header
  チャットグループが作成されました。
//ここまでがヘッダー
//ここからがサイドコンテンツ
.chat-side
  .chat-side__header
    seo
    %a.chat-side__header--edit-user
      %i.fa.fa-cog
    %a.chat-side__header--new-group
      %i.fa.fa-pencil-square-o
  .chat-side__contents
    .chat-side__contents__ele
      .chat-side__contents__ele--group
        sample
      .chat-side__contents__ele--message
        まだメッセージはありません
    .chat-side__contents__ele
      .chat-side__contents__ele--group
        neco
      .chat-side__contents__ele--message
        まだメッセージはありません
    .chat-side__contents__ele
      .chat-side__contents__ele--group
        kani
      .chat-side__contents__ele--message
        まだメッセージはありません
//ここまでがサイドコンテンツ
//ここからがメインコンテンツ
.chat-main
  .chat-main__header
    .chat-main__header--group
      sampleグループ
    %a.chat-main__header--edit
      Edit
    .chat-main__header--menber
      menber:neko kani
  .chat-main__middle
    .chat-main__middle__ele
      .chat-main__middle__ele--name
        seo
      .chat-main__middle__ele--date
        2222/2/22 22:22:22
      .chat-main__middle__ele--comment
        hello
    .chat-main__middle__ele
      .chat-main__middle__ele--name
        neko
      .chat-main__middle__ele--date
        2222/2/22 22:22:22
      .chat-main__middle__ele--comment
        hello
  .chat-main__hooter
    .chat-main__hooter__text-area
      type a message
      %a.chat-main__hooter__text-area--image
        %i.fa.fa-image
    .chat-main__hooter__send
      Send

