.chat-side__contents {
  width: 300px;
  height: calc(100vh - 96px);
  background-color: #2f3e51;
  color: $chatSideTextColor;
  &__ele {
    padding: 20px 20px;
    background-color: #2f3e51;
    &--group {
      font-size: 15px;
    }
    &--message {
      font-size: 11px;
      margin-top: 5px;
    }
  }
}

